<% include partials/head %>


<body>
    
  <!-- Begin Container -->
<div class="container">
    <div class="row cardtop">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats cardMenu" >
                        <div class="card-header card-options" data-background-color="green">
                            <a href="/createpoll">Create Poll</a>
                        </div>
                        <div class="card-content">
                            <p class="category">Instructions</p>
                            <div class="cardInstructions">
                            <p class="title intructions">Separate options with "/"</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header card-options" data-background-color="blue">
                            <a href="/allpolls">All Polls</a>
                        </div>
                        <div class="card-content">
                            <p class="category"><br>Total</p>
                            <h3 class="title"><%= totalpollsnumber %></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header card-options" data-background-color="purple">
                            <a href="/mypolls">My Collection</a>
                        </div>
                        <div class="card-content">
                           <p class="category"><br>Total</p>
                            <h3 class="title"><%= totalmycollection %></h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header card-options" data-background-color="orange">
                            <a href="/logout">Logout</a>
                        </div>
                        <div class="card-content">
                            <p class="category"><br>See Ya</p>
                            <h3 class="title"><a id="logoutB" href="/logout"><i class="fa fa-sign-out"></i></a></h3>
                        </div>
                    </div>
                </div>
            </div>
    
    <div class="row">
    
     <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card">
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title blueTitle"><%= title %></h4>
                    </div>
                        
                        <div class="card-content card-content-specific">
                            <form action='/voteop' method="post">
                        <% if (options.length > 0) { %>
                        <%    for (i=0; i < options.length; i++) { %>
                                <input type="submit" id="vote<%= i %>" name="<%= optionsid[i]%>" value="<%= options[i].title %>" class="btn btn-default voteButtons"><br>
                        <%    } %>

                            <input type="text" id="polloutput" name="polloutput" value="" class="hideme">

                        <% } %>
                        </form>

                        <% if(alreadyvote) { %> 
                        <p>Already voted</p>
                        <%  } %>

                        <% if(userid != "unauthenticate") { %> 
                            <div>
                            <form action='/insertop' method="post">
                            <div class="form-group">

                              <label for="newOption">New Option: </label>
                              <input type="text" class="form-control" id="newOption" name="newOption" placeholder="Enter new option">


                            </div>
                            <input type="submit" value="Submit" class="btn btn-success submitButton">
                            </form>
                            </div>
                        <%  } %>

                    <br>    

                         <% if(userid == pollcreator) { %>
                    <div>
                        <form action='/deletepoll' method="post" >
                        <input type="submit" value="Delete Poll" class="btn btn-danger deleteButton">
                    </form>

                    </div>    
                        <%  } %>

                        </div>
                 </div>
                        
  </div>
      
    <div class="col-sm-1 col-lg-1 col-md-1">
    </div>
    
    
        
     <div class="chart-container col-lg-5 col-md-5 col-sm-5">
    <canvas id="myChart"></canvas>
    </div>   
        
   </div> 
    
    
    
    
    <div id="votesNumberArray" class="hideme"><%= votesnumber %></div><br>
    <div id="votesTitleArray" class="hideme"><%= votestitle %></div>
    


    
    
    
     </div>
  <!-- /.container -->
    
    
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/vote.js"></script>
    
    
</body>
</html>